<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to OpenPool</title>
        <style>
        input[type= submit] {
            width: 40%;
            padding: 30px;
            margin: 20px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 40px;
            box-sizing: border-box;
            font-size: 2em;
           }
           body {
               background-color:#2ecc72;
           }
           </style>
    </head>
    <body>
        <h1 align =center>Welcome to OpenPool</h1>
        <div align=center>
        <form method = "GET" action="/vehicle">
            <input type="submit" value="Have a vehicle"><br>
        </form>
        <form method="GET" action="/pool">
            <input type="submit" value="Want a Pool"><br>
        </form>
        <form method="GET" action="/changepass">
            <input type="submit" value="Change Password"><br>
        </form>
        <form method="GET" action="/deleteacc">
            <input type="submit" value="Delete Account"><br>
        </form>
    </div>
    
    </body>
</html>